body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: mediumturquoise;
}

.container {
  display: flex;
}

.box {
  position: relative;
  margin: 20px;
  border-radius: 10px;
  width: 300px;
  color: #fff;
  background: linear-gradient(-45deg, rgba(255, 0, 0, 0.7), rgba(151, 225, 151, 0.7));
  box-shadow: 0px 5px 10px rgba(0,0,0,0.5);
  overflow: hidden;
  transition: 0.5s;
}

.box:hover {
  transform: scale(1.1);
}

.box:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 40%;
  background: rgba(255, 255, 255, 0.1);
  bottom: 0;
  transform: skewY(5deg) scale(1.2);
  z-index: 1;
}

.container .box:nth-child(1),
.container .box:nth-child(1) .box-icon .icon {
  background: linear-gradient(-45deg, #3F51B5, #61e595);
}

.container .box:nth-child(2) {
  background: linear-gradient(-45deg, #ec5424, #e140d4);
}

.container .box:nth-child(3) {
  background: linear-gradient(-45deg, #eaf815, #086ae8);
}

.box-icon {
  font-size: 50px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-icon .icon {
  width: 100px;
  height: 100px;
  line-height: 100px;
  text-align: center;
  border-radius: 50%;
  box-shadow: 0px 5px 10px rgba(0,0,0,0.3);
}

.box .header {
  text-align: center;
  font-size: 24px;
  margin: 12px;
}

.box .price {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  margin: 20px;
}

.list {
  text-align: center;
  z-index: 1;
}

.list ul {
  padding: 0;
}

ul li {
  list-style: none;
  margin: 8px;
}

.cta {
  text-align: center;
  margin: 40px 0px 20px;
}
.button {
  padding: 10px 24px;
  background-color: #fff;
  color: rgba(0,0,0,0.7);
  box-shadow: 0 4px 8px rgba(0,0,0,0.7);
  border-radius: 20px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  border: none;
}
