body {
  margin: 0;
  padding: 0;
  background-color: darkgrey;
  font-weight: 700;
  font-size: 2em;
}

.list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0;
  margin: 0;
}

.list .item {
  display: inline-block;
  color: rgba(0,0,0,0.6);
  animation: animate 2s infinite;
}

.list .item:nth-child(1) {
  animation-delay: 0.1s;
}
.list .item:nth-child(2) {
  animation-delay: 0.2s;
}
.list .item:nth-child(3) {
  animation-delay: 0.3s;
}
.list .item:nth-child(4) {
  animation-delay: 0.4s;
}
.list .item:nth-child(5) {
  animation-delay: 0.5s;
}
.list .item:nth-child(6) {
  animation-delay: 0.6s;
}
.list .item:nth-child(7) {
  animation-delay: 0.7s;
}

@keyframes animate {
  0% {
    color: rgba(0,0,0,0.6);
    margin-right: 0;
  }

  50% {
    color: yellow;
    margin-right: 16px;
    transform: translateY(-50px);
    text-shadow: 5px 20px rgba(0,0,0,0.4);
  }

  100% {
    color: gold;
    margin-right: 0;
  }
}